body {
  background-color: #7865cf
}

#score, #timer {
  font-size: 1.5vw
}
#score {
  margin-left: 20vw;
  /* position:absolute; */
  /* top: 10vh; */
}

#timer {
  /* position: absolute; */
  /* top: 10vh; */
  margin-right: 20vw;
  float:right;
}

#sketch_to_draw {
  color: #0f0f0f;
  text-decoration: double underline;
  font-size: 3vh;
}